/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */

/* COMMON */

img {
    width: 100%;
}

html {
    font-family: 'Italic', sans-serif;
    font-size: 100%;
    color: white;
}

body {
    background-color: black;
}

i {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */

header {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.speaker-view, .full-screen {
    background-color: #4a4a4a;
    border-radius: 3px;
    font-size: small;
    padding: 0.3rem;
}

.full-screen {
    margin: 0 .5em 0;
}







/* HEADER */

/* MAIN */

main {
    height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.frame-user {
    margin: .5rem;
    width: 246px;
    height: 146px;
    border: 1px solid black;
    background-image: url('https://picsum.photos/250/150'); 
    position: relative;   
}

.name-id {
    position: absolute;
    bottom: 0;
    background-color: #4a4a4a;
    font-size: small;
    padding: 0.2em 0.5em;
    opacity: 70%;
}







/* MAIN */

/* FOOTER */

footer {
    height: 75px;
    background-color: #222222;
    display: flex;
}

/* LEFT-SIDE */
.left-side {
    width: 20%;
    /* background-color: black; */
    display: flex;
}
.icon-item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: .5rem;
}

/* LEFT-SIDE */

/* CENTER */
.center {
    width: calc(100vw - 35%);
    height: 100%;
    display: flex;
    justify-content: center;
}








/* CENTER */

/* RIGHT-SIDE */
.right-side {
    width: 15%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
}



.icon i {
    padding: .2em;
}

.text {
    display: flex;
    font-size: .7em;
    flex-wrap: nowrap;
}
.chevron {
    padding: 0 .5em 0 1.5em;
    font-size: .5em;
}
.btn-end {
    display: flex;
    background-color: #4a4a4a;
}

.btn-end a {
    display: flex;
    align-self: center;
    color: red;
    font-size: .7em;
    padding: 0 2em;
}

/* RIGHT-SIDE */
